<!-- IF ANTIBOT_100500_ID -->
<script>
	function n4H7xYfFKi8lVqq9(){var a=document.getElementsByName('form_token');if(document.getElementById('uWgKUigev1RVxLON')==null){var b="{ANTIBOT_100500_ID}"}else{var b=document.getElementById('uWgKUigev1RVxLON').value;document.getElementById('uWgKUigev1RVxLON').remove()}for(var i=0;i<a.length;i++){a[i].value=a[i].value.replace(b,'')}}document.addEventListener("DOMContentLoaded",n4H7xYfFKi8lVqq9);$('#qr_posts').on('qr_loaded',n4H7xYfFKi8lVqq9);$('#qr_postform').on('qr_outdated_form',n4H7xYfFKi8lVqq9);$('#qr_postform').on('qr_captcha_refreshed',n4H7xYfFKi8lVqq9);
</script>
<!-- ENDIF -->
