<!-- IF ANTIBOT_100500_ID -->
<script>
	function jslhIAK4FJvSuO8J(){var e=document.getElementsByName("form_token");if(null==document.getElementById("eYZRXcsnql7xyBZC"))var n="{ANTIBOT_100500_ID}";else n=document.getElementById("eYZRXcsnql7xyBZC").innerHTML;for(var t=0;t<e.length;t++)e[t].value=e[t].value.replace(n,"")}document.addEventListener("DOMContentLoaded",jslhIAK4FJvSuO8J),$("#qr_posts").on("qr_loaded",jslhIAK4FJvSuO8J),$("#qr_postform").on("click",'[name="post"]',function(){$("#eYZRXcsnql7xyBZC").remove()});
</script>
<!-- ENDIF -->
