<!-- IF XT_EMOJI_ROFL -->
<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
	<a href="{U_XT_POST_REPLY_TOPIC}" class="button {XT_EMOJI_SMILE}" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_XT_POST_REPLY}<!-- ENDIF -->" aria-hidden="true" tabindex="-1" rel="nofollow">
		<!-- IF S_IS_LOCKED -->
			<span>{L_BUTTON_TOPIC_LOCKED}</span> <i class="icon fa-fw" aria-hidden="true"></i>
		<!-- ELSE -->
			<span>{L_XT_BUTTON_POST_REPLY}</span> <i class="icon fa-fw" aria-hidden="true"></i>
		<!-- ENDIF -->
	</a>
<!-- ENDIF -->
<!-- ENDIF -->
